<div class="card mt-2" style="width: 18rem;" >
  <img src="{{ personagem.image }}" class="card-img-top" alt="Imagem do personagem {{ personagem.name }}">
</div>

<div>
<ul class="list-group">
  <li class="list-group-item"><strong>Nome: {{ personagem.name }}</strong></li>
  <li class="list-group-item">Data de Nascimento: {{ personagem.dateOfBirth }}</li>
  <li class="list-group-item">Ancestralidade: {{ personagem.ancestry }}</li>
  <li class="list-group-item">Estuda em Hogwarts: {{ personagem.hogwartsStudent }}</li>
</ul>
</div>
