<div class="card mt-2" style="width: 18rem;" >
  <img src="{{ livro.image }}" class="card-img-top" alt="Imagem do personagem {{ livro.name }}">
</div>

<div>
<ul class="list-group">
  <li class="list-group-item"><strong>Nome: {{ livro.name }}</strong></li>
  <li class="list-group-item">Data de Nascimento: {{ livro.dateOfBirth }}</li>
  <li class="list-group-item">Ancestralidade: {{ livro.ancestry }}</li>
  <li class="list-group-item">Estuda em Hogwarts: {{ livro.hogwartsStudent }}</li>
</ul>
</div>
