<div class="card mt-2" style="width: 18rem;" >
  <img src="{{ character.image }}" class="card-img-top" alt="Imagem do personagem {{ character.name }}">
</div>

<div>
<ul class="list-group">
  <li class="list-group-item"><strong>Nome: {{ character.name }}</strong></li>
  <li class="list-group-item">Data de Nascimento: {{ character.dateOfBirth }}</li>
  <li class="list-group-item">Ancestralidade: {{ character.ancestry }}</li>
  <li class="list-group-item">Estuda em Hogwarts: {{ character.hogwartsStudent }}</li>
</ul>
</div>
